*{
     margin  : 0;
     padding : 0;
     box-sizing: border-box;
     text-align: center;
}

.name{
     padding-top: 20px;
     padding-bottom: 20px;
}
.weight{
     padding-top: 20px;
     padding-bottom: 20px;
     // border-color: white;
}
.dd :hover{
     background-color: yellow;
}
.name2{
     padding-top: 20px;
     padding-bottom: 20px;
     font-weight:400;
     font-size: medium;
     text-align: left;
    // padding-left: 20px;
}
.minus{
     background-color: red;
     color: white;
     border-color: red;
     padding: 5px 16px;
     font-size: 20px;
     // margin-left:8px;
     // margin-right: 8px;

}
.off{
     color: green;
     text-align: left;
}


.cart-btn{
     color:red;
     border:   solid 1px red  ;
      border-radius:   5px   ;
     //  margin-left:   2px   ;
      width: 100%  ;
     padding: 10px 0px;   
}

.cart-btn:hover{
     background-color: red;
     color:white;
}
.box{
     border: solid 1px rgb(218, 207, 207);
     border-radius: 3px;
     height: 600px;
     
}
.menu{
  position: relative;
  .select{
     position: absolute;
     width: 100%;
   .bg{
       padding: 10px;
     }
  }
  
}
.nav-header{
  box-shadow: grey 0 0 10px ;
  position: fixed;
  width:100%;
  background-color: white;
  z-index: 1;
.container{
     width: 70%;
     margin:auto;
     .nav-row{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding:10px 0;
          .logo-col{
               //  background-color: red;
               // padding:10px;
               width: 15%;
               img{
                   width: 100%; 
               }
          }
     }
}
}
// .pad-top{
//      padding-top: 30px;
// }
.price{
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: left;
     
} 
.off{
     color: green;
     font-size: medium;

}
.xx{
     padding-top: 20px;
     .style{
          padding-top:10px;
          padding-bottom: 10px;
       .kg{
          font-weight: 700;
          padding-left: 10px;
       }
     }
}
.fresh{
    // text-decoration: underline;
     color: silver;
}
.ptag{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.username{
    padding-bottom: 20px;
}
.auth{
     padding-top: 20px;
     font-size: 30px;
     color: green;
}
.auth-btn{
     background-color: green;
     color: #fff;
     border: 1px solid gray;
     padding: 5px 20px;
     border-radius: 10px;

}